<div class="container1">
	<div class="title">Add Team Member</div>
	<div class="container">
		<div class="form-group"> 
			<input type="text" class="form-control" id="" name="" placeholder="Member name" [(ngModel)]="memberName">
		</div>
	  <div class="form-group">
			<input type="text" class="form-control" id="" name="" placeholder="Designation" [(ngModel)]="designation">
	  </div>
	  <form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
			<input #imageInput type="file" name="avatar" accept="image/*" (change)="processFile(imageInput)" />
		</form>
		<div class="form-group d-flex justify-content-center"> <!-- Register Button -->
			<button type="submit" (click)= "memberSubmission()" class="btn btn-primary">Add</button>
		</div>
	</div>
	
</div>